doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title prof-estate
    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/app.css')
  body
    .wrap.container
      .nav
        .col-800w
          .nav__logo
            .icon.icon-logo
            //img(src="http://placehold.it/62x52")
          .nav__menu
            .menu.menu_main
              a(href="#about-us") About us
              a(href="#team") Team
              a(href="#career") Career
              a(href="#contacts") Contacts
              a(href="#contacts") For developers
              a(href="#contacts") For brokers
      .main
        block content
    script(src='js/app.js')
